html{
	font-size: calc(100vw/7.5);
}

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	display: block;
	content: "";
	clear: both;
}
.center{
	margin: 0px auto;
}

